<div class="dashboard-left" id="dashboard-left">
  <nb-card accent="primary" id="selection-criteria-section" (click)="searchCriteriaExpand()">
    <nb-card-header class="border-bottom d-flex">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="mr-2" fill="#2a2a2a"><rect width="24" height="24" opacity="0"></rect><path d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"></path></svg>
      <span>Selection Criteria</span>
    </nb-card-header>
    <nb-card-body id="selection-criteria-body" class="pt-0">
      <div class="row">
        <div class="col-sm-12">
          <form #criteriaForm="ngForm">
            <fieldset class="form-group px-0 mb-0">
              <nb-radio-group class="d-flex" [(ngModel)]="radioExplode" name="radioExplode">
                <nb-radio [value]="'Lot Explosion'">{{language.lotexplosion}}
                </nb-radio>
                <nb-radio [value]="'Where Used'">{{language.whereused}}</nb-radio>
              </nb-radio-group>
            </fieldset>
            <h6 class="border-bottom pb-1 mb-2">{{language.select}}</h6>
            
            <div class="form-group">
              <label for="inputPassword3" class="form-label">{{language.item}}</label>
              <div class="w-100">
                <div class="input-group">
                  <input nbInput fieldSize="small" type="text" name="ItemValue" id="ItemValue" class="form-control"
                  placeholder="{{language.select_item}}" #ItemVal=ngModel [(ngModel)]="ItemValue" (blur)="onItemCodeBlur()" required autocomplete="off">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="openItemLookup(dialog)">
                      <i class="optipro-icon-hamburger"></i>
                    </button>
                  </div>
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted opti_error-msg text-right" *ngIf="ItemVal.errors?.required && !itemStatus && ItemVal.touched">{{language.item_code_req}}</small>
              <small id="emailHelp" class="form-text text-muted opti_error-msg text-right" *ngIf="itemStatus && ItemVal.touched">{{language.correct_item_code}}</small>  
            </div>
            
            <div class="form-group">
              <label for="inputPassword3" class="form-label">{{language.description}}</label>
              <div class="w-100">
                <div class="input-group">
                  <input nbInput type="text" fieldSize="small" name="ItemDesc" id="ItemDesc" class="form-control" placeholder="{{language.description}}"
                    #ItemDes=ngModel [(ngModel)]="ItemDesc" autocomplete="off">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="form-label">{{language.warehouse}}</label>
              <div class="w-100">
                <div class="input-group">
                  <input nbInput fieldSize="small" type="text" class="form-control" placeholder="{{language.select_warehouse}}"
                    name="DfltWarehouse" id="DfltWarehouse" #Whse=ngModel [(ngModel)]="DfltWarehouse" (blur)="onWarehouseBlur()" autocomplete="off" required>
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="openWarehouseLookup(dialog)">
                      <i class="optipro-icon-hamburger"></i>
                    </button>
                  </div>
                </div>
              </div>
              <small id="emalHelp" class="form-text text-muted text-right opti_error-msg" *ngIf="Whse.errors?.required && !WarehouseStatus && Whse.touched">{{language.warehouse_code_req}}</small>
              <small id="emailHelp" class="form-text text-muted text-right opti_error-msg" *ngIf="WarehouseStatus && Whse.touched">{{language.correct_warehouse_code}}</small>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="form-label">{{language.lot_from}}</label>
              <div class="w-100">
                <div class="input-group">
                  <input fieldSize="small" nbInput type="text" class="form-control" placeholder="{{language.select_lot_from}}"
                    name="DistNumFrom" id="DistNumFrom" #LotF=ngModel [disabled]="disableLotNumber" [(ngModel)]="DistNumFrom" (blur)="onLotFromNumberBlur('From')" autocomplete="off">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall"
                      (click)="openLotFromLookup(dialog)" [disabled]="disableLotNumber"><i class="optipro-icon-hamburger"></i></button>
                  </div>
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted opti_error-msg text-right" *ngIf="LotFromStatus && LotF.touched">{{language.correct_lot_from}}</small>
            </div>
            
            <div class="form-group">
              <label for="inputPassword3" class="form-label">{{language.lot_to}}</label>
              <div class="w-100">
                <div class="input-group">
                  <input fieldSize="small"  nbInput type="text" class="form-control" placeholder="{{language.select_lot_to}}"
                    name="DistNumTo" id="DistNumTo" #LotT=ngModel [disabled]="disableLotNumber" [(ngModel)]="DistNumTo" (blur)="onLotToNumberBlur('To')" autocomplete="off">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall"
                      (click)="openLotToLookup(dialog)" [disabled]="disableLotNumber"><i class="optipro-icon-hamburger"></i></button>
                  </div>
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted opti_error-msg text-right" *ngIf="LotToStatus && LotT.touched">{{language.correct_lot_to}}</small>

            </div>
            <fieldset class="form-group px-0">
                <nb-radio-group class="d-flex" [(ngModel)]="radioLevel" name="radioLevel">
                  <nb-radio [value]="'Single Level'">{{language.single_level}}
                  </nb-radio>
                  <nb-radio [value]="'Multi Level'">{{language.multi_level}}</nb-radio>
                </nb-radio-group>
            </fieldset>
            </form>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="text-center py-2">
      <button type="submit" nbButton class="btn btn-primary btn-with-icon-right" 
      size="small" (click)="GetExplosion($event)" [disabled]="!criteriaForm.form.valid || (itemStatus || WarehouseStatus || LotFromStatus || LotToStatus)">{{language.process}} 
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="ml-2" fill="#fff"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"></rect><path d="M5 13h11.86l-3.63 4.36a1 1 0 0 0 1.54 1.28l5-6a1.19 1.19 0 0 0 .09-.15c0-.05.05-.08.07-.13A1 1 0 0 0 20 12a1 1 0 0 0-.07-.36c0-.05-.05-.08-.07-.13a1.19 1.19 0 0 0-.09-.15l-5-6A1 1 0 0 0 14 5a1 1 0 0 0-.64.23 1 1 0 0 0-.13 1.41L16.86 11H5a1 1 0 0 0 0 2z"></path></svg>
      </button>
          
    </nb-card-footer>
  </nb-card>

  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="max-width:700px">
      <nb-card-header class="d-flex justify-content-between">
          <span>{{lookUpHeading}}</span>          
          <span (click)="ref.close()" class="cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="eva eva-close-outline mr-2 cursor-pointer" fill="#2a2a2a">
                <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect><path d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
              </svg>
          </span>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="Item">
          <kendo-grid [kendoGridBinding]="gridData" [filterable]=isColumnFilter [groupable]=isColumnGroup [selectable]="true" [sort]="state.sort"
          [filter]="state.filter" [resizable]="true" (selectionChange)="gridRowSelectionChange($event,ref)" [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px'}">
            <ng-template kendoGridToolbarTemplate>
                <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile pl-0 pt-0">
                    <div class="k-form-field d-flex">
                        <input #chkFilter  type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_SalesOrderListColumnFilterID"
                            [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                        <label class="k-checkbox-label" for="opti_SalesOrderListColumnFilterID">{{language.enable_filter}}</label>
                    </div>
                </form>

            </ng-template>
            <kendo-grid-checkbox-column *ngIf="showSelection==true" title="Select" [width]="25">
                <ng-template  kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                    <div class="k-form-field d-flex center-checkbox">
                        <input #chkSelection type="checkbox" [disabled]='di.OldData' [checked]='di.OldData' (change)="onCheckboxClick(chkSelection.checked,idx)" id="chkbox-{{idx}}" class="k-checkbox"
                            name="columnfilter" />
                            
                        <label class="k-checkbox-label" for="chkbox-{{idx}}"></label>
                    </div>
                </ng-template>
            </kendo-grid-checkbox-column>

            <kendo-grid-column field="ItemCode" title="Item Code" width="80">
            </kendo-grid-column>
            
            <kendo-grid-column field="ItemName" title="Description" width="80">
            </kendo-grid-column>

           <!--<kendo-grid-column field="ItemCode" [style]="{'background-color': 'red'}" title="Item Code" width="80">
            </kendo-grid-column>
            
            <kendo-grid-column field="ItemName" [style]="{'background-color': 'red'}" title="Description" width="80">
            </kendo-grid-column>-->
          </kendo-grid>
        </div>

        <div *ngIf="whse">
          
          <kendo-grid [kendoGridBinding]="gridData" [selectable]="selectableSettings" [filterable]=isColumnFilter [groupable]=isColumnGroup [selectable]="true" [sort]="state.sort"
          [filter]="state.filter" [resizable]="true" (selectionChange)="gridRowSelectionChange($event,ref)" [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px' }">

            <!-- grid template start -->
            <ng-template kendoGridToolbarTemplate>

                <!-- checkbox -->
                <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile pl-0 pt-0">
                    <div class="k-form-field d-flex">
                        <input #chkFilter  type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_SalesOrderListColumnFilterID"
                            [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                        <label class="k-checkbox-label" for="opti_SalesOrderListColumnFilterID">{{language.enable_filter}}</label>
                    </div>
                </form>

            </ng-template>
            <kendo-grid-checkbox-column *ngIf="showSelection==true" title="Select" [width]="25">
                <ng-template  kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                    <div class="k-form-field d-flex center-checkbox">
                        <input #chkSelection type="checkbox" [disabled]='di.OldData' [checked]='di.OldData' (change)="onCheckboxClick(chkSelection.checked,idx)" id="chkbox-{{idx}}" class="k-checkbox"
                            name="columnfilter" />
                            
                        <label class="k-checkbox-label" for="chkbox-{{idx}}"></label>
                    </div>
                </ng-template>
            </kendo-grid-checkbox-column>

            <kendo-grid-column field="WhsCode" title="Warehouse Code" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="WhsName" title="Description" width="80">
            </kendo-grid-column>
          </kendo-grid>
        </div>

        <div *ngIf="LotFrom || LotTo">

          <kendo-grid [kendoGridBinding]="gridData" [selectable]="selectableSettings" [filterable]=isColumnFilter [groupable]=isColumnGroup [selectable]="true" [sort]="state.sort"
          [filter]="state.filter" [resizable]="true" (selectionChange)="gridRowSelectionChange($event,ref)" [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px' }">

            <!-- grid template start -->
            <ng-template kendoGridToolbarTemplate>

                <!-- checkbox -->
                <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile pl-0 pt-0">
                    <div class="k-form-field d-flex">
                        <input #chkFilter  type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_SalesOrderListColumnFilterID"
                            [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                        <label class="k-checkbox-label" for="opti_SalesOrderListColumnFilterID">{{language.enable_filter}}</label>
                    </div>
                </form>

            </ng-template>
            <kendo-grid-checkbox-column *ngIf="showSelection==true" title="Select" [width]="25">
                <ng-template  kendoGridCellTemplate let-idx='rowIndex' let-di='dataItem'>
                    <div class="k-form-field d-flex center-checkbox">
                        <input #chkSelection type="checkbox" [disabled]='di.OldData' [checked]='di.OldData' (change)="onCheckboxClick(chkSelection.checked,idx)" id="chkbox-{{idx}}" class="k-checkbox"
                            name="columnfilter" />
                            
                        <label class="k-checkbox-label" for="chkbox-{{idx}}"></label>
                    </div>
                </ng-template>
            </kendo-grid-checkbox-column>

            <kendo-grid-column field="DistNumber" title="Serial/Batch No." width="80">
            </kendo-grid-column>
            <kendo-grid-column field="ItemCode" title="Item Code" width="80">
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()" size="small">{{language.close}}</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
</div>

<div class="dashboard-right">
  <div class="custom-accordian analysis-accordian-open grid-accordian-open" id="custom-accordian">
    <div class="grid-accordian expanded" id="grid-accordian">
      <nb-card accent="primary" size="xsmall" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="xlarge" nbSpinnerMessage="{{language.please_wait}}">
        <nb-card-header class="border-bottom d-flex" id="grid-accordian-trigger" (click)="customAccordianGrid($event)">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="mr-2" fill="#2a2a2a"><rect width="24" height="24" opacity="0"></rect><path d="M9 3H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z"></path><path d="M19 3h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z"></path><path d="M9 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2z"></path><path d="M19 13h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2z"></path></svg>
          <span>Grid View</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="eva-arrow-ios-downward ml-auto cursor-pointer" fill="#2a2a2a"><rect width="24" height="24" opacity="0"></rect><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"></path></svg>
        </nb-card-header>
        <nb-card-body class="py-0" id="grid-accordian-body">
          <div class="row h-100 flex-100">
            <div class="col-sm-4 border-right overflow-auto h-100">
              <div class="tree-wrapper pt-3">

                <tree-root id="tree2" [focused]="true" [nodes]="nodes2" (click)="clickTransaction($event)">
                  <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
                    <div class="tree-node">
                      <tree-node-expander [node]="node"></tree-node-expander>
                        <div class="node-content-wrapper" *ngIf="explodeDirection == 'DOWN'" [class.node-content-wrapper-active]="isActive"
                        [class.node-content-wrapper-focused]="node.isFocused"
                        (click)="node.toggleActivated(true)">
                          <span>{{node.data.OPTM_ITEMCODE}} - {{node.data.OPTM_BTCHSERNO }}</span>
                        </div>
                        <div class="node-content-wrapper" *ngIf="explodeDirection == 'UP'" [class.node-content-wrapper-active]="isActive"
                        [class.node-content-wrapper-focused]="node.isFocused"
                        (click)="node.toggleActivated(true)">
                            <span>{{node.data.OPTM_ITEMCODE}} - {{node.data.OPTM_PARENTBTCHSERNO }}</span>
                          </div>
                      <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                    </div>
                  </ng-template>
                </tree-root>
                
              </div>
            </div>
            <div class="col-sm-8 p-2 overflow-auto h-100 d-flex flex-column">
              <div class="clearfix mb-2">
                <div class="col-12 p-0">
                    <nb-radio-group class="d-flex" [(ngModel)]="radioTransaction" name="radioTransaction">
                      <nb-radio [value]="'ParentLot'">
                        {{language.show_parent_lot}}
                      </nb-radio>
                      <nb-radio [value]="'ImmediateLot'">
                        {{language.show_immediate_lot}}
                      </nb-radio>
                    </nb-radio-group>
                </div>
              </div>

              <nb-card class="mb-0 no-shadow-card flex-100">
                <nb-card-header>{{language.transaction_type}}</nb-card-header>
                <nb-card-body>
                  <tree-root id="tree2" [focused]="true" [nodes]="nodes1" (click)="clickTransactionDetails($event)">
                    <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
                      <div class="tree-node">
                        <tree-node-expander [node]="node"></tree-node-expander>
                          <div class="node-content-wrapper" *ngIf="node.data.ObjectTypeDesc == null" [class.node-content-wrapper-active]="isActive"
                          [class.node-content-wrapper-focused]="node.isFocused"
                          (click)="node.toggleActivated(true)">
                            <span>{{node.data.ItemCode}} - {{node.data.DistNumber}}</span>
                          </div>

                          <div class="node-content-wrapper"  *ngIf="node.data.ObjectTypeDesc != null" [class.node-content-wrapper-active]="isActive"
                          [class.node-content-wrapper-focused]="node.isFocused"
                          (click)="node.toggleActivated(true)">
                            <span>({{node.data.DistNumber}}) Doc Entry:{{node.data.DocEntry}} - {{node.data.ObjectTypeDesc}}</span>
                          </div>
                        <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                      </div>
                    </ng-template>
                  </tree-root>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>


    <div class="analysis-accordian expanded" id="analysis-accordian">
      <nb-card accent="primary" size="xsmall" [nbSpinner]="Analysisloading" nbSpinnerStatus="primary" nbSpinnerSize="xlarge" nbSpinnerMessage="{{language.please_wait}}">
        <nb-card-header class="border-bottom d-flex" id="analysis-accordian-trigger"
          (click)="customAccordianAnalysis($event)">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="mr-2" fill="#2a2a2a"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect><path d="M3.24 7.29l8.52 4.63a.51.51 0 0 0 .48 0l8.52-4.63a.44.44 0 0 0-.05-.81L12.19 3a.5.5 0 0 0-.38 0L3.29 6.48a.44.44 0 0 0-.05.81z"></path><path d="M20.71 10.66l-1.83-.78-6.64 3.61a.51.51 0 0 1-.48 0L5.12 9.88l-1.83.78a.48.48 0 0 0 0 .85l8.52 4.9a.46.46 0 0 0 .48 0l8.52-4.9a.48.48 0 0 0-.1-.85z"></path><path d="M20.71 15.1l-1.56-.68-6.91 3.76a.51.51 0 0 1-.48 0l-6.91-3.76-1.56.68a.49.49 0 0 0 0 .87l8.52 5a.51.51 0 0 0 .48 0l8.52-5a.49.49 0 0 0-.1-.87z"></path></svg>
          <span>{{language.analysis_view}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="eva-arrow-ios-downward ml-auto cursor-pointer"fill="#2a2a2a"><rect width="24" height="24" opacity="0"></rect><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"></path></svg>
        </nb-card-header>
        <nb-card-body id="analysis-accordian-body" class="overflow-auto">
        <div id="chart-container"></div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
