body.opti_account-module {
    position: relative;
    float: left;
    padding: 50px;
    width: 100%;
    min-height: 100vh;
    &:before {
        background-image: url('/assets/images/background2.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        width: 100%;
        content: "";
        left: 0;
        z-index: -1;
        -webkit-filter: blur(8px);
        filter: blur(8px);
        height: 100%;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: #1e9af1;
        opacity: 0.3;
    }
}
.nb-theme-default.opti_body-login nb-layout .layout{
    background: transparent !important;
    min-height: initial !important;
}
.plan-layout{  
    & .layout{
        background: transparent !important;
        min-height: initial !important;
    }
}

//css for button

.btn-icon-with-input{
    font-size: 27px !important;
    padding: 0 !important;
    line-height: 1px !important;
    border: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.btn.btn-with-icon-right{
    padding: nb-theme(btn-padding-y-sm)- .307 nb-theme(btn-padding-x-sm) - 1.2 nb-theme(btn-padding-y-sm) - .307 nb-theme(btn-padding-x-sm) - 0.85 !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
nb-select{
    button {
        padding: nb-theme(btn-padding-y-sm) - 0.093  nb-theme(btn-padding-x-sm) nb-theme(btn-padding-y-sm) - 0.093  nb-theme(btn-padding-x-sm) - 1 !important;
        &:after{
            transform: translateY(-50%);
        }
    }
}
label{
    margin-bottom: 1px;
    font-size: 12px;
}
.form-group {
    margin-bottom: 4px;
}
.cursor-pointer{
    cursor: pointer;
}
.overflow-auto{
    overflow: auto;
}
// html body nb-select{
//     & > [nbButton].btn-outline.btn-primary{
//         &:hover{
//             background-color: transparent !important;
//             background-color: nb-theme(color-primary) !important;
//         }
//     }
// }
