<div id="opti_signinID" class="opti_account-submodule-wrapper">

        <div class="float-left opti_account-banner-section">
        </div>
      
        <div class="float-right opti_account-form-section">
            <div class="opti_outer-login-form opti_account-submodule-container">
                <div class="opti_vertcal-align-outer-box">
                    <div class="panel-body opti_position-relative" accent="primary" size="xsmall" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="xlarge" nbSpinnerMessage="Please wait">
                       
      
                        <div class="opti_fullwidth text-center opti_signin-logo">
                             <img src="assets/images/large-logo-alt.png" alt="{{language.optiprodashboard}}" width="100%"/>
                        </div>
        
                        <form class="k-form" #signInForm="ngForm">
                          <div class="form-group">
                              <label for="username">{{language.username}}</label>
                              <input type="text" name="id" class="form-control" required #name = ngModel  [(ngModel)]="loginId" id="username" nbInput fieldSize="small" placeholder="{{language.username_placeholder}}" autocomplete="off">
                              <small id="emailHelp" class="form-text text-muted opti_error-msg" *ngIf="name.errors?.required && name.touched" class="float-right opti_error-msg">{{language.username_required}}</small>
                              <span *ngIf="InvalidActiveUser"  class="float-right opti_error-msg"> {{language.password_activeuser}}</span>
                          </div>
      
                          <div class="form-group">
                              <label for="password">{{language.password}}</label>
                              <input type="password" name="pwd" required #PasswordBlank = ngModel [(ngModel)]="password" class="form-control" id="password" nbInput fieldSize="small" placeholder="{{language.password_placeholder}}" (blur)="onPasswordBlur()">
                              <small id="passwordHelp" class="form-text text-muted opti_error-msg" *ngIf="PasswordBlank.errors?.required && PasswordBlank.touched" class="float-right opti_error-msg">{{language.password_required}}</small>
                              <span *ngIf="InvalidActiveUser"  class="float-right opti_error-msg"> {{language.password_activeuser}}</span>
                          </div>
      
                         <div class="form-group">
                              <label for="">{{language.company}}</label>
                              <nb-select placeholder="{{language.company_placeholder}}" [(ngModel)]="selectedItemNgModel" size="small" outline name="NgModel" required>
                                  <nb-option *ngFor="let cmp of listItems" value="{{cmp.OPTM_COMPID}}">{{cmp.cmpName}}
                                          ({{cmp.OPTM_COMPID}})</nb-option> 
                              </nb-select>
                          </div>
                            
                           
                            <div class="text-right w-100 mt-4 mb-0">
                                <button type="submit" (click)="OnSignIn()" [disabled]="!signInForm.form.valid  || clickSignIn" id=connectbtn class="btn btn-primary opti_fullwidth"  size="xsmall" nbButton>{{language.login}}</button>
                            </div>
                        </form>
      
                    </div>
                </div>
            </div>
        </div>
      
        <!-- Full page loader loader end -->
      </div>
      
      
      
      