
@import '../../@theme/styles/themes';
.opti_account-submodule-wrapper{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    border-radius: 5px;
}

.opti_account-banner-section {
    width: 60%;
    height: calc(100vh - 100px);
    background: url('/assets/images/background2.jpg');
    background-size: cover;
    background-position: left center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: nb-theme(color-primary);
        opacity: 0.3;
    }
}

.opti_account-form-section{
    width: 40%;
    height: calc(100vh - 100px);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: nb-theme(header-bg);
}

.opti_account-submodule-container{
    width: 370px;
    max-width: 100%;
    margin: 0 auto;
}

.opti_vertcal-align-outer-box{
    padding: 10px 0;
    width: 100%;
    height: calc(100vh - 100px);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.panel-body{
    width: 100%;
    //overflow-y: scroll;
    height: auto;
    max-height: 100%;
    background-color: white;
    box-shadow: 0px 0px 13px 0px nb-theme(color-primary);
    border-radius: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.opti_signin-logo {
    padding: 15px 20px 0 20px;
    font-size: 24px;
    font-family: Exo;
    display: flex;
    align-items: center;
    justify-content: center;
    color:nb-theme(color-primary);  
    font-weight: nb-theme(font-weight-bolder);  
}
.opti_signin-logo svg {
    width: 50px;
    margin-right: 10px;
    path{
        fill: nb-theme(color-primary);
    }
}
form.k-form {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: 20px;
    flex: 1;
    overflow: auto;
}

body .k-form .k-form-field{
    margin-bottom: 8px !important;
    text-align: left;
}
.k-textbox{
    width: 100%;
}


