<div id="opti_signinID" class="opti_account-submodule-wrapper">

  <div class="float-left opti_account-banner-section">
  </div>

  <div class="float-right opti_account-form-section">
      <div class="opti_outer-login-form opti_account-submodule-container">
          <div class="opti_vertcal-align-outer-box">
              <div class="panel-body opti_position-relative">
                  <!-- loader start -->
                  <div class="opti_loader" *ngIf="showLoader==true">
                      <div class="opti_spinner"></div>
                  </div>
                  <!-- loader end -->

                  <div class="opti_fullwidth text-center opti_signin-logo">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                   <path d="M53,41.069V29H31V19h7V3H22v16h7v10H7v12.069C3.06,41.564,0,44.928,0,49c0,4.411,3.589,8,8,8s8-3.589,8-8
                       c0-4.072-3.06-7.436-7-7.931V31h20v10.069c-3.94,0.495-7,3.859-7,7.931c0,4.411,3.589,8,8,8s8-3.589,8-8c0-4.072-3.06-7.436-7-7.931
                       V31h20v10.069c-3.94,0.495-7,3.859-7,7.931c0,4.411,3.589,8,8,8s8-3.589,8-8C60,44.928,56.94,41.564,53,41.069z"/></svg>
                       OptiPro Dashboard
                  </div>

                  <form class="k-form" #signInForm="ngForm">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="id" class="form-control" required #name = ngModel  [(ngModel)]="loginId" id="username" nbInput fieldSize="small" placeholder="Enter Username" autocomplete="off">
                        <small id="emailHelp" class="form-text text-muted opti_error-msg" *ngIf="name.errors?.required && name.touched" class="float-right opti_error-msg">Username Required</small>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="pwd" required #PasswordBlank = ngModel [(ngModel)]="password" class="form-control" id="password" nbInput fieldSize="small" placeholder="Enter Password" (blur)="onPasswordBlur()">
                        <small id="passwordHelp" class="form-text text-muted opti_error-msg" *ngIf="PasswordBlank.errors?.required && PasswordBlank.touched" class="float-right opti_error-msg">Password Required</small>
                    </div>

                   <div class="form-group">
                        <label for="">Company</label>
                        <nb-select placeholder="Select Company" [(ngModel)]="selectedItemNgModel" size="small" outline name="NgModel" required>
                            <nb-option *ngFor="let cmp of listItems" value="cmp">{{cmp.cmpName}}
                                    ({{cmp.OPTM_COMPID}})</nb-option> 
                        </nb-select>
                    </div>
                      
                      <!-- start if condition -->
                        <!-- <ng-container>
                          <label class="k-form-field">
                              Company                            
                          </label> -->
                        <!-- <select type="company" name="form-company" [(ngModel)]="selectedValue" class="form-username form-control" id="form-company" [disabled]="disableDropDown"
                        (change)="OnDropDownBlur($event)">
                          <option *ngFor="let cmp of listItems" name="selcompany" [ngValue]="cmp">{{cmp.cmpName}}
                            ({{cmp.OPTM_COMPID}})</option> 
                        </select>  -->
                        <!-- </ng-container> -->
                      <!-- end if condition -->

                      <!-- <label class="k-form-field">
                          <div class="opti_checkbox-container">
                              <nb-checkbox>Remember Me</nb-checkbox>
                          </div>
                      </label> -->
                      <div class="text-right w-100 mt-4 mb-2">
                          <button type="submit" (click)="OnSignIn()" [disabled]="!signInForm.form.valid  || clickSignIn" id=connectbtn class="btn btn-primary opti_fullwidth"  size="xsmall" nbButton>Login</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <!-- Full page loader start -->
  <div class="opti_FullPageLoader" *ngIf="showFullPageLoader==true">
      <div class="blob blob-0"></div>
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
      <div class="blob blob-4"></div>
      <div class="blob blob-5"></div>
  </div>

  <!-- Full page loader loader end -->
</div>


<style>
    .opti_error-msg {
        color: red !important;
        font-size: 12px;
        
    }
</style>

