<div class="dashboard-container" *ngIf="true">
    <nb-card accent="info">
      <nb-card-header class="border-bottom">Selection Criteria</nb-card-header>
      <nb-card-body>
          <div class="row">
            <div class="col-sm-6 col-xl-4">
              <form>
                <fieldset class="form-group px-0 mb-2">
                    <nb-radio-group class="d-flex">
                      <nb-radio>Lot Explosion</nb-radio>
                      <nb-radio>Where Used</nb-radio>
                    </nb-radio-group>
                </fieldset>

                <h5 class="border-bottom pb-1 mb-3">Select</h5>

                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Item</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input nbInput type="text" class="form-control" placeholder="">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="open(dialog)"><i class="nb-menu"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Desc.</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input nbInput type="text" class="form-control" placeholder="">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="open(dialog)"><i class="nb-menu"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Warehouse</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input nbInput type="text" class="form-control" placeholder="">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="open(dialog)"><i class="nb-menu"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Lot From</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input nbInput type="text" class="form-control" placeholder="">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="open(dialog)"><i class="nb-menu"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Lot To</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input nbInput type="text" class="form-control" placeholder="">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="open(dialog)"><i class="nb-menu"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <fieldset class="form-group px-0">
                  <nb-radio-group class="d-flex">
                    <nb-radio>Single Level</nb-radio>
                    <nb-radio>Multi Level</nb-radio>
                  </nb-radio-group>
                </fieldset>


                <div class="form-group row">

                  <div class="col-sm-6">
                    <nb-select placeholder="Select Showcase" size="xsmall" [(selected)]="selectedItem">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                      <nb-option value="3">Option 3</nb-option>
                      <nb-option value="4">Option 4</nb-option>
                    </nb-select>
                  </div>
                  <div class="col-sm-6">
                    <button type="submit" nbButton class="btn btn-primary" size="xsmall">Process</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </nb-card-body>
    </nb-card>

    <ng-template #dialog let-data let-ref="dialogRef">
      <nb-card style="max-width:700px">
        <nb-card-header>Template Dialog</nb-card-header>
        <nb-card-body>
          <kendo-grid [data]="gridData" style="max-height:300px">
              <kendo-grid-column field="ProductID" title="ID" width="40">
              </kendo-grid-column>
              <kendo-grid-column field="ProductName" title="Name" width="250">
              </kendo-grid-column>
              <kendo-grid-column field="Category.CategoryName" title="Category">
              </kendo-grid-column>
              <kendo-grid-column field="UnitPrice" title="Price" width="80">
              </kendo-grid-column>
              <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
              </kendo-grid-column>
              <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
                  <ng-template kendoGridCellTemplate let-dataItem>
                      <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
                  </ng-template>
              </kendo-grid-column>
          </kendo-grid>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="ref.close()" size="xsmall">Close</button>
        </nb-card-footer>
      </nb-card>
    </ng-template>
</div>

<!-- <div class="dashboard-container" *ngIf="false">
  <nb-accordion multi>
    <nb-accordion-item expanded>
      <nb-accordion-item-header>
        Grid View
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="col-sm-4">
          <div class="tree-wrapper pt-3">
            <tree-root
              #tree
              [nodes]="nodes"
              [options]="options"
              [focused]="true"
            >
            </tree-root>
          </div>
        </div>
        <div class="col-sm-8 pt-3">
          <nb-card>
            <nb-card-body>
                <nb-radio-group class="d-flex" >
                  <nb-radio>Show Data of all type of lots</nb-radio>
                  <nb-radio>Show Data of all immediate of lots</nb-radio>
                </nb-radio-group>
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header>Transaction Type</nb-card-header>
            <nb-card-body>
                <tree-root
                #tree
                [nodes]="nodes"
                [options]="options"
                [focused]="true"
              >
              </tree-root>
            </nb-card-body>
          </nb-card>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item expanded>
      <nb-accordion-item-header>
        Analysis View
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div id="chart-container"></div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div> -->

