<div class="dashboard-container" *ngIf="gridStatus">
    <nb-card accent="primary">
      <nb-card-header class="border-bottom">Selection Criteria</nb-card-header>
      <nb-card-body>
          <div class="row">
            <div class="col-sm-6 col-xl-4">
              <form>
                <fieldset class="form-group px-0 mb-2">
                    <nb-radio-group class="d-flex">
                      <nb-radio>Lot Explosion</nb-radio>
                      <nb-radio>Where Used</nb-radio>
                    </nb-radio-group>
                </fieldset>

                <h5 class="border-bottom pb-1 mb-3">Select</h5>

                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Item</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input nbInput fieldSize="small" type="text" name="ItemValue" id="ItemValue" class="form-control" placeholder="Select Item" #ItemVal = ngModel [(ngModel)]="ItemValue">
                      
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="openItemLookup(dialog)"><i class="nb-menu"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Desc.</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input nbInput type="text" fieldSize="small" name="ItemDesc" id="ItemDesc" class="form-control" placeholder="Description" #ItemDes = ngModel [(ngModel)]="ItemDesc">
                      <!-- <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="openItemLookup(dialog)"><i class="nb-menu"></i></button>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Warehouse</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input nbInput fieldSize="small" type="text" class="form-control" placeholder="Select Warehouse" name="DfltWarehouse" id="DfltWarehouse" #Whse = ngModel [(ngModel)]="DfltWarehouse">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall"  (click)="openWarehouseLookup(dialog)"><i class="nb-menu"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Lot From</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input fieldSize="small" nbInput type="text" class="form-control" placeholder="Select Lot From" name="DistNumFrom" id="DistNumFrom" #LotF = ngModel [(ngModel)]="DistNumFrom">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="openLotFromLookup(dialog)"><i class="nb-menu"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Lot To</label>
                  <div class="col-sm-10">
                    <div class="input-group">                  
                      <input fieldSize="small" nbInput type="text" class="form-control" placeholder="Select Lot To" name="DistNumTo" id="DistNumTo" #LotT = ngModel [(ngModel)]="DistNumTo">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="openLotToLookup(dialog)"><i class="nb-menu"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <fieldset class="form-group px-0">
                  <nb-radio-group class="d-flex">
                    <nb-radio>Single Level</nb-radio>
                    <nb-radio>Multi Level</nb-radio>
                  </nb-radio-group>
                </fieldset>


                <div class="form-group row">

                  <div class="col-sm-6">
                    <nb-select placeholder="Select Showcase" size="small" shape="rectangle" outline [(selected)]="selectedItem">
                      <nb-option value="1">Option 1</nb-option>
                      <nb-option value="2">Option 2</nb-option>
                      <nb-option value="3">Option 3</nb-option>
                      <nb-option value="4">Option 4</nb-option>
                    </nb-select>
                  </div>
                  <div class="col-sm-6">

                    <button type="submit" nbButton class="btn btn-primary" size="small" (click)="GetExplosion()">Process</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </nb-card-body>
    </nb-card>
    <div>
    <!-- <app-item-lookup [gridData]="RecordModel"></app-item-lookup> -->
    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card style="max-width:700px">
          <nb-card-header>Template Dialog</nb-card-header>
          <nb-card-body>
            <div *ngIf="Item">
            <kendo-grid [data]="gridData" 
            [selectable]="selectableSettings"
            (selectionChange)="gridRowSelectionChange($event,ref)"
            [ngStyle]="{ cursor: 'pointer' }">
                
                <kendo-grid-column field="ItemCode" title="Item Code" width="80">
                </kendo-grid-column>
                <kendo-grid-column field="ItemName" title="Description" width="80">
                </kendo-grid-column>
            </kendo-grid>
          </div>

          <div *ngIf="whse">

            <kendo-grid [data]="gridData" 
            [selectable]="selectableSettings"
            (selectionChange)="gridRowSelectionChange($event,ref)"
            [ngStyle]="{ cursor: 'pointer' }">
                
                <kendo-grid-column field="WhsCode" title="Warehouse Code" width="80">
                </kendo-grid-column>
                <kendo-grid-column field="WhsName" title="Description" width="80">
                </kendo-grid-column>
            </kendo-grid>
          </div>

          <div *ngIf="LotFrom || LotTo">

            <kendo-grid [data]="gridData" 
            [selectable]="selectableSettings"
            (selectionChange)="gridRowSelectionChange($event,ref)"
            [ngStyle]="{ cursor: 'pointer' }">
                
                <kendo-grid-column field="DistNumber" title="Item Code" width="80">
                </kendo-grid-column>
                <kendo-grid-column field="ItemCode" title="Description" width="80">
                </kendo-grid-column>
            </kendo-grid>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton (click)="ref.close()" size="xsmall">Close</button>
          </nb-card-footer>
        </nb-card>
      </ng-template>
  </div>
</div>

 <div class="dashboard-container" *ngIf="!gridStatus">
  <nb-accordion multi>
    <nb-accordion-item expanded>
      <nb-accordion-item-header>
        Grid View &nbsp; <button nbButton size="xsmall" (click)="process()">Back</button>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="col-sm-4">
          <div class="tree-wrapper pt-3">
            <tree-root
              #tree
              [nodes]="nodes"
              [options]="options"
              [focused]="true"
            >
            </tree-root>
          </div>
        </div>
        <div class="col-sm-8 pt-3">
          <nb-card>
            <nb-card-body>
                <nb-radio-group class="d-flex" >
                  <nb-radio>Show Data of all type of lots</nb-radio>
                  <nb-radio>Show Data of all immediate of lots</nb-radio>
                </nb-radio-group>
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header>Transaction Type</nb-card-header>
            <nb-card-body>
                <tree-root
                #tree
                [nodes]="nodes"
                [options]="options"
                [focused]="true"
              >
              </tree-root>
            </nb-card-body>
          </nb-card>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item expanded>
      <nb-accordion-item-header>
        Analysis View
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div id="chart-container"></div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>



