<div class="dashboard-left" id="dashboard-left">
  <nb-card accent="primary" id="selection-criteria-section" (click)="searchCriteriaExpand()">
    <nb-card-header class="border-bottom d-flex">
      <i data-eva="search" data-eva-height="18" data-eva-width="18" data-eva-fill="#2a2a2a" class="mr-2"></i>
      <span>Selection Criteria</span>
    </nb-card-header>
    <nb-card-body id="selection-criteria-body">
      <div class="row">
        <div class="col-sm-12">
          <form>
            <fieldset class="form-group px-0 mb-2"> <!-- [(value)]="radioExplode"-->
              <nb-radio-group class="d-flex" [(ngModel)]="radioExplode" name="radioExplode"> 
                <nb-radio [value]="'Lot Explosion'">Lot Explosion
                </nb-radio>
                <nb-radio [value]="'Where Used'">Where Used</nb-radio>
              </nb-radio-group>
            </fieldset>
        
            <h5 class="border-bottom pb-1 mb-3">Select</h5>

            <div class="form-group">
              <label for="inputPassword3" class="form-label">Item</label>
              <div class="w-100">
                <div class="input-group">
                  <input nbInput fieldSize="small" type="text" name="ItemValue" id="ItemValue" class="form-control"
                    placeholder="Select Item" #ItemVal=ngModel [(ngModel)]="ItemValue">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall"
                      (click)="openItemLookup(dialog)"><i class="nb-menu"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="form-label">Desc.</label>
              <div class="w-100">
                <div class="input-group">
                  <input nbInput type="text" fieldSize="small" name="ItemDesc" id="ItemDesc" class="form-control"
                    placeholder="Description" #ItemDes=ngModel [(ngModel)]="ItemDesc">
                  <!-- <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall" (click)="openItemLookup(dialog)"><i class="nb-menu"></i></button>
                      </div> -->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="form-label">Warehouse</label>
              <div class="w-100">
                <div class="input-group">
                  <input nbInput fieldSize="small" type="text" class="form-control" placeholder="Select Warehouse"
                    name="DfltWarehouse" id="DfltWarehouse" #Whse=ngModel [(ngModel)]="DfltWarehouse">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall"
                      (click)="openWarehouseLookup(dialog)"><i class="nb-menu"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="form-label">Lot From</label>
              <div class="w-100">
                <div class="input-group">
                  <input fieldSize="small" nbInput type="text" class="form-control" placeholder="Select Lot From"
                    name="DistNumFrom" id="DistNumFrom" #LotF=ngModel [(ngModel)]="DistNumFrom">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall"
                      (click)="openLotFromLookup(dialog)"><i class="nb-menu"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="form-label">Lot To</label>
              <div class="w-100">
                <div class="input-group">
                  <input fieldSize="small" nbInput type="text" class="form-control" placeholder="Select Lot To"
                    name="DistNumTo" id="DistNumTo" #LotT=ngModel [(ngModel)]="DistNumTo">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-icon-with-input" nbButton size="xsmall"
                      (click)="openLotToLookup(dialog)"><i class="nb-menu"></i></button>
                  </div>
                </div>
              </div>

            </div>
            <fieldset class="form-group px-0">
              <nb-radio-group class="d-flex">
                <nb-radio>Single Level</nb-radio>
                <nb-radio>Multi Level</nb-radio>
              </nb-radio-group>
            </fieldset>


            <div class="form-group row">

              <div class="col-sm-12">
                <nb-select placeholder="Select Showcase" size="small" outline [(selected)]="selectedItem">
                  <nb-option value="1">Option 1</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-select>
              </div>
              <!-- <div class="col-sm-12 text-center mt-3">
                <button type="submit" nbButton class="btn btn-primary" size="small">Process</button>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="text-center py-2">
      <button type="submit" nbButton class="btn btn-primary btn-with-icon-right" size="small"
        (click)="GetExplosion($event)">Process <i data-eva="arrow-forward" data-eva-height="18" data-eva-width="18"
          data-eva-fill="#fff" class="ml-2"></i></button>
    </nb-card-footer>
  </nb-card>

  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card style="max-width:700px">
      <nb-card-header>Template Dialog</nb-card-header>
      <nb-card-body>
        <div *ngIf="Item">
          <kendo-grid [data]="gridData" [selectable]="selectableSettings"
            (selectionChange)="gridRowSelectionChange($event,ref)"
            [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px'}">

            <kendo-grid-column field="ItemCode" title="Item Code" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="ItemName" title="Description" width="80">
            </kendo-grid-column>
          </kendo-grid>
        </div>

        <div *ngIf="whse">

          <kendo-grid [data]="gridData" [selectable]="selectableSettings"
            (selectionChange)="gridRowSelectionChange($event,ref)"
            [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px' }">

            <kendo-grid-column field="WhsCode" title="Warehouse Code" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="WhsName" title="Description" width="80">
            </kendo-grid-column>
          </kendo-grid>
        </div>

        <div *ngIf="LotFrom || LotTo">

          <kendo-grid [data]="gridData" [selectable]="selectableSettings"
            (selectionChange)="gridRowSelectionChange($event,ref)"
            [ngStyle]="{ 'cursor': 'pointer', 'max-height':'290px' }">

            <kendo-grid-column field="DistNumber" title="Item Code" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="ItemCode" title="Description" width="80">
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()" size="xsmall">Close</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
</div>

<div class="dashboard-right">
  <!-- <nb-accordion multi>
    <nb-accordion-item expanded>
      <nb-accordion-item-header>
        Grid View &nbsp; <button nbButton size="xsmall" (click)="process()">Back</button>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="col-sm-4">
          <div class="tree-wrapper pt-3">
            <tree-root
              #tree
              [nodes]="nodes"
              [options]="options"
              [focused]="true"
            >
            </tree-root>
          </div>
        </div>
        <div class="col-sm-8 pt-3">
          <nb-card>
            <nb-card-body>
                <nb-radio-group class="d-flex" >
                  <nb-radio>Show Data of all type of lots</nb-radio>
                  <nb-radio>Show Data of all immediate of lots</nb-radio>
                </nb-radio-group>
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header>Transaction Type</nb-card-header>
            <nb-card-body>
                <tree-root
                #tree
                [nodes]="nodes"
                [options]="options"
                [focused]="true"
              >
              </tree-root>
            </nb-card-body>
          </nb-card>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item expanded>
      <nb-accordion-item-header>
        Analysis View
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div id="chart-container"></div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion> -->
  <div class="custom-accordian">
    <div class="grid-accordian expanded" id="grid-accordian">
      <nb-card accent="primary">
        <nb-card-header class="border-bottom d-flex" id="grid-accordian-trigger" (click)="customAccordianGrid($event)">
          <i data-eva="grid" data-eva-height="18" data-eva-width="18" data-eva-fill="#2a2a2a" class="mr-2"></i>
          <span>Grid View</span>
          <i data-eva="arrow-ios-downward" data-eva-height="18" data-eva-width="18" data-eva-fill="#2a2a2a"
            class="ml-auto cursor-pointer"></i>
        </nb-card-header>
        <nb-card-body class="py-0" id="grid-accordian-body">
          <div class="row h-100 flex-100">
            <div class="col-sm-4 border-right overflow-auto h-100">
              <div class="tree-wrapper pt-3">
                <!-- <tree-root #tree [nodes]="nodes" [options]="options" [focused]="true" (click)="clickTransaction($event)">-->

                <tree-root id="tree2" [focused]="true" [nodes]="nodes2" (click)="clickTransaction($event)">
                  <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
                    <div class="tree-node">
                      <tree-node-expander [node]="node"></tree-node-expander>
                        <div class="node-content-wrapper" *ngIf="explodeDirection == 'DOWN'">
                          <span>{{node.data.OPTM_ITEMCODE}} - {{node.data.OPTM_BTCHSERNO }}</span>
                        </div>
                        <div class="node-content-wrapper" *ngIf="explodeDirection == 'UP'">
                            <span>{{node.data.OPTM_ITEMCODE}} - {{node.data.OPTM_PARENTBTCHSERNO }}</span>
                          </div>
                      <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                    </div>
                  </ng-template>
                </tree-root>
               </div>
            </div>
            <div class="col-sm-8 pt-3 overflow-auto h-100">
              <nb-card>
                <!-- <nb-card-body>
                  <nb-radio-group class="d-flex" [(ngModel)]="selectedOption">
                    <nb-radio>Show Data of all type of lots</nb-radio>
                    <nb-radio>Show Data of all immediate of lots</nb-radio>
                  </nb-radio-group>
                </nb-card-body> -->
                <nb-card-body>
                  <nb-radio-group class="d-flex" [(value)]="radioGroupValue">
                    <nb-radio [value]="'Show Data of all type of lots'">
                      Show Data of all type of lots
                    </nb-radio>
                    <nb-radio [value]="'Show Data of all immediate of lots'">
                      Show Data of all immediate of lots
                    </nb-radio>
                  </nb-radio-group>
                </nb-card-body>
              </nb-card>

              <nb-card class="mb-0">
                <nb-card-header>Transaction Type</nb-card-header>
                <nb-card-body>
                  <!-- <tree-root #tree [nodes]="nodes1" [options]="options" [focused]="true" (click)="clickTransactionDetails($event)">
                  </tree-root> -->

                  <tree-root id="tree2" [focused]="true" [nodes]="nodes1" (click)="clickTransactionDetails($event)">
                  </tree-root>

                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </nb-card-body>
        <!-- <nb-card-footer class="text-center py-2">
          <button type="submit" nbButton class="btn btn-primary" size="small">Process</button>
        </nb-card-footer> -->
      </nb-card>
    </div>

    
    <div class="analysis-accordian expanded" id="analysis-accordian" >
      <nb-card accent="primary">
        <nb-card-header class="border-bottom d-flex" id="analysis-accordian-trigger"
          (click)="customAccordianAnalysis($event)">
          <i data-eva="layers" data-eva-height="18" data-eva-width="18" data-eva-fill="#2a2a2a" class="mr-2"></i>
          <span>Analysis View</span>
          <i data-eva="arrow-ios-downward" data-eva-height="18" data-eva-width="18" data-eva-fill="#2a2a2a"
            class="ml-auto cursor-pointer"></i>
        </nb-card-header>
        <nb-card-body id="analysis-accordian-body" class="overflow-auto">
          <!-- <div id="chart-container"></div> -->
          <div class="node-wrapper">
            <div class="single-node node purReceipt">
              <div class="title">Lao Lao</div>
              <div class="second-menu">
                <div class="node-content">
                  <div class="node-img">
                    <img class="node-avatar" src="./assets/images/images.png">
                  </div>
                  <div class="node-data">
                    <div class="data-column">
                      <div class="data-heading">
                        Item
                      </div>
                      <div class="data-content">
                        INT
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Warehouse
                      </div>
                      <div class="data-content">
                        LOT 1
                      </div>
                    </div>

                    <div class="data-column">
                      <div class="data-heading">
                        Lot #
                      </div>
                      <div class="data-content">
                        LOT 1
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Expiry Date
                      </div>
                      <div class="data-content">
                        01/01/01
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Receipt Date
                      </div>
                      <div class="data-content">
                        01/01/01
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Lot Status
                      </div>
                      <div class="data-content">
                        Release
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Quantity
                      </div>
                      <div class="data-content">
                        10.000 KG
                      </div>
                    </div>
                  </div>
                </div>
                <div class="node-footer">
                  <div class="footer-column">
                    <div class="column-heading">
                      Total Received
                    </div>
                    <div class="column-content">
                      text
                    </div>
                  </div>
                  <div class="footer-column">
                    <div class="column-heading">
                      Total Issued
                    </div>
                    <div class="column-content">
                      text
                    </div>
                  </div>
                  <div class="footer-column">
                    <div class="column-heading">
                      Onhand
                    </div>
                    <div class="column-content">
                      text
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-node node purReceipt">
              <div class="title">Lao Lao</div>
              <div class="second-menu">
                <div class="node-content">
                  <div class="node-img">
                    <img class="node-avatar" src="./assets/images/images.png">
                  </div>
                  <div class="node-data">
                    <div class="data-column">
                      <div class="data-heading">
                        Item
                      </div>
                      <div class="data-content">
                        INT
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Warehouse
                      </div>
                      <div class="data-content">
                        LOT 1
                      </div>
                    </div>

                    <div class="data-column">
                      <div class="data-heading">
                        Lot #
                      </div>
                      <div class="data-content">
                        LOT 1
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Expiry Date
                      </div>
                      <div class="data-content">
                        01/01/01
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Receipt Date
                      </div>
                      <div class="data-content">
                        01/01/01
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Lot Status
                      </div>
                      <div class="data-content">
                        Release
                      </div>
                    </div>
                    <div class="data-column">
                      <div class="data-heading">
                        Quantity
                      </div>
                      <div class="data-content">
                        10.000 KG
                      </div>
                    </div>
                  </div>
                </div>
                <div class="node-footer">
                  <div class="footer-column">
                    <div class="column-heading">
                      Total Received
                    </div>
                    <div class="column-content">
                      text
                    </div>
                  </div>
                  <div class="footer-column">
                    <div class="column-heading">
                      Total Issued
                    </div>
                    <div class="column-content">
                      text
                    </div>
                  </div>
                  <div class="footer-column">
                    <div class="column-heading">
                      Onhand
                    </div>
                    <div class="column-content">
                      text
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </nb-card-body>
        <!-- <nb-card-footer class="text-center py-2">
          <button type="submit" nbButton class="btn btn-primary" size="small">Process</button>
        </nb-card-footer> -->
      </nb-card>
    </div>
  </div>
</div>